# Ignore users file
attendance_data/
cache/
report/
temp/
temp_debug/

build/
dist/

*.csv
*.spec
key.txt
secret.key
api_keys.json
api_keys_raw.json
auth.json

# Don't ignore all files in the third_party directory
!/third_party/*

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore VSCode files
.vscode/

# Ignore logs or other temporary files
*.cache
*.log
*.temp
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore poetry lock and config files
poetry.lock
pyproject.toml
